body{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:300;
}
/* 상단영역 */
header{
  width: 1100px;
  margin: 0 auto; /* 수평중앙정렬 */
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  position: absolute;
  left: calc(50% - 550px);
  z-index: 2;
}

header h1 a{
  background-image: url(../img/hj_logo.jpg);
  width: 230px;
  height: 25px;
  display: block;
  font-size: 0;
}
nav{
  display: flex;
}
ul{
  display: flex;
}
ul.gnb{
  border-top: 1px solid #80808073;
}
ul.gnb li {
  margin-top: -1px;
}
ul.gnb li a{
  padding: 10px 30px;
  display: block;
  border-top: 2px solid transparent;
  transition: border 1s;
}
ul.gnb li a:hover{
  font-weight: 500;
  border-top: 2px solid #111111;
}
ul.etcmenu{
  position: absolute;
  top: 8px;
  right: 0px;
}


ul.etcmenu li a{
  padding: 5px 12px;
  font-size: 13px;
}
ul.etcmenu li a:hover{
  color: red;
}

ul.etcmenu li:first-child a::after{ /* 가상선택자 ::before,::after / :first-child 첫번째자식 */
  content: "▼"; 
  font-size: 7px;
  vertical-align: 2px; /* vertical-align 글자수직정렬 */
}

/* 타이틀영역 */
div#title{
  height: 600px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/title.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 73%;
  background-attachment: fixed;
  position: relative;
}
div#title::before{
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 240px solid rgb(248, 222, 203);
  border-right-width: 390px;
  border-left-width: 390px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
}
div#title h2{
  font-size: 30px;
  margin-bottom: 11px;
}
div#title h2 span{
  font-weight: 500;
}

div#title h2::after{
  content: "";
  width: 2px;
  height: 60px;
  display: block;
  background-color: #666;
 margin: 0 auto;
  margin-top: 14px;
}
div#title::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 240px solid rgb(248, 222, 203);
  border-right-color: rgb(248, 222, 203);
  border-right-width: 240px;
  border-bottom-color: rgb(248, 222, 203);
  border-left-width: 240px;
  border-right-width: 390px;
  border-left-width: 390px;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: background-color 1s;
}
div#title p{
  text-align: center;
  line-height: 1.3;
  margin-bottom: 30px;
  position: relative;
  top: -16px;
}
div#title a{
  background-color: #4d7195;
  color: white;
  width: 100px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 1s;
  z-index: 1;
}
div#title a:hover{
  background-color: orange;
}
div#title a:hover::before{
  border-bottom-color: orange;
}
div#title a:hover::after{
  border-top-color: orange;
}
div#title a::before{
  content: "";
  width: 0;
  height: 0;
  display: block;
  border: 50px solid #4d7195;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #4d7195;
  border-left-color: transparent;
  position: absolute;
  top: -70px;
  left: 0;
  border-bottom-width: 20px;
  z-index: 1;
  transition: border-color 1s;
}
div#title a::after{
  content: "";
  width: 0;
  height: 0;
  display: block;
  border: 50px solid #4d7195;
  border-top-color: #4d7195;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 40px;
  left: 0;
  border-top-width: 20px;
  z-index: 2;
  transition: border-color 1s;
}

/* 메인영역 */
main{
  height: 1000px;
  color: #111;
}
main section#intro {
  padding-top: 30px;
  padding-bottom: 30px;
}
main section#intro div {
  
}
main section#intro div h2 {
/*   화면에서 지우기 */
  display: none;
}
main section#intro div ul {
  justify-content: space-between;
}
main section#intro div ul li {
  width: calc(100% / 4 - 60px / 3);
  height: 260px;
}
main section#intro div ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}
main section#intro div ul li a::before{
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  background-image: url("../img/stream.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  transition: all;
}
main section#intro div ul li a h3::before{
  content: "";
  display: block;
  width: 1em;
  height: 0.2em;
  background: black;
  margin: 10px auto;
}
main section#intro div ul li a:hover::before{
  transform: scale(0.5);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
main section#intro div ul li a:hover{
    background-color: rgb(150,170,200);
}
main section#intro div ul li:nth-of-type(2) a::before{
  background-image: url("../img/cloud.svg");
}
main section#intro div ul li:nth-of-type(3) a::before{
  background-image: url("../img/settings.svg");
}
main section#intro div ul li:nth-of-type(4) a::before{
  background-image: url("../img/podcasts.svg");
}
main section#intro div ul li:nth-child(1) a{
/*   background: radial-gradient(circle, white, #8ea3b3); */
/*start ------------*/
  background: -webkit-gradient(radial, center, center, color-stop(0, #909eb800), color-stop(1, #909eb8));
	background: -moz-radial-gradient(circle, #909eb800 33%, #909eb8 100%);
	background: -webkit-radial-gradient(circle,  #909eb800 33%, #909eb8 100%);
	background: -o-radial-gradient(circle,  #909eb800 33%, #909eb8 100%);
	background: -ms-radial-gradient(circle,  #909eb800 33%, #909eb8 100%);
	background: radial-gradient(circle, #909eb800 33%, #909eb8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#909eb8', endColorstr='#909eb8', gradientType=0);
/*   브라우저 접두사  */
}
main section#intro div ul li:nth-child(2) a{
  background: -webkit-gradient(radial, center, center, color-stop(0, #b8d1db00), color-stop(1, #b8d1db));
	background: -moz-radial-gradient(circle, #b8d1db00 33%, #b8d1db 100%);
	background: -webkit-radial-gradient(circle,  #b8d1db00 33%, #b8d1db 100%);
	background: -o-radial-gradient(circle,  #b8d1db00 33%, #b8d1db 100%);
	background: -ms-radial-gradient(circle,  #b8d1db00 33%, #b8d1db 100%);
	background: radial-gradient(circle,  #b8d1db00 33%, #b8d1db 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d1db00', endColorstr='#b8d1db', gradientType=0);
}
main section#intro div ul li:nth-child(3) a{
  background: -webkit-gradient(radial, center, center, color-stop(0, #bfbfbf00), color-stop(1, #bfbfbf));
	background: -moz-radial-gradient(circle, #bfbfbf00 33%, #bfbfbf 100%);
	background: -webkit-radial-gradient(circle,  #bfbfbf00 33%, #bfbfbf 100%);
	background: -o-radial-gradient(circle,  #bfbfbf00 33%, #bfbfbf 100%);
	background: -ms-radial-gradient(circle,  #bfbfbf00 33%, #bfbfbf 100%);
	background: radial-gradient(circle,  #bfbfbf00 33%, #bfbfbf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf00', endColorstr='#bfbfbf', gradientType=0);
}
main section#intro div ul li:nth-child(4) a{
  background: -webkit-gradient(radial, center, center, color-stop(0, #d0d4ae00), color-stop(1, #d0d4ae));
	background: -moz-radial-gradient(circle, #d0d4ae00 33%, #d0d4ae 100%);
	background: -webkit-radial-gradient(circle,  #d0d4ae00 33%, #d0d4ae 100%);
	background: -o-radial-gradient(circle,  #d0d4ae00 33%, #d0d4ae 100%);
	background: -ms-radial-gradient(circle,  #d0d4ae00 33%, #d0d4ae 100%);
	background: radial-gradient(circle,  #d0d4ae00 33%, #d0d4ae 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d4ae00', endColorstr='#d0d4ae', gradientType=0);
}
main section#intro div ul li a h3 {

}

main section#intro div ul li a p {
  color: #111;
}

#society {
  color: #111;
}
#society .wrap {
  box-sizing: border-box;
  background: #eee;
  background-image: url("../img/main_roll_bg.png");
  background-repeat: no-repeat;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 100px;
  grid-template-areas:
    "h2 article"
    "p article";
}
#society .wrap h2 {
  grid-area: h2;
}
#society .wrap > p.p {
  grid-area: p;
  line-height: 1.4;
}
#society .wrap article {
  grid-area: article;
}
#society a.block::after {
  content: "+";
  position: relative;
  right: -444px;
  bottom: 13px;
}
.block:hover::after {
  color: yellow;
}
#society .wrap article a figure{
  height: 130px;
  overflow: hidden;
}
#society .wrap article img {
  width: 100%;
  position: relative;
  top: -20px;
}
#society .wrap article p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
  line-height: 2;
}
#news .wrap {
}
#news h2 {
  margin-bottom: 20px;
}
#news ul{
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
}
#news ul:first-child p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
#news ul a{
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#news li:hover{
  color: white;
  background: #aeaeae;
}
#news figure{
  width: calc(50% - 10px);
  position: absolute;
  left: 0;
  top: 0;
}
#news figure img{
  width: 100%;

}
#news ul li{
  width: calc(50% - 30px);
  
}
#news .wrap ul li:nth-of-type(n+2){
  width: calc(50% - 70px);
  margin-bottom: 10px;
}
#news .wrap ul li:nth-child(2){
  margin-top: 70px;
}
/* 하단영역 */
footer {
  background: #f2f2f2;
  margin-top: 30px;
}
footer .wrap div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 1.4;
}
footer ul {
  display: block;
}
address {
  width: 70%;
}
footer select {
  border: none;
  border-top: 1px solid #ccc;
  background-color: transparent;
  padding-top:10px;
  width: 15%;
}